<section class="dr10_content_section">
	<h1>About</h1>
	<h2>Quick Blurb</h2>
	<p>An insightful IT graduate and professional with experience in web development to ensure the study, design, development, implementation, support and management of computer-based information systems in support of business objectives. Has Web development and Linux administration skills with 3 years experience in PHP and MySQL.</p>
	<h2>Education</h2>
	<h3>Bachelor of Science in Information Technology Major, Computer Science Minor</h3>
	<p>George Mason University, Fairfax, VA, May 2012</p>
	<h2>Other Information</h2>
	<ul>
		<li>Language Skills: Fluent Spanish</li>
		<li>Citizenship Status: U.S Citizen</li>
		<li>Alpha Lambda Delta Honor Society Member</li>
		<li>Golden Key International Honor Society Member</li>
		<li>Louis Stokes Alliance for Minority Participation Member</li>
		<li>Awarded GMU Foundation Scholarship</li>
	</ul>
</section>