<section class="dr10_content_section">
	<h1>
		Contact Me
	</h1>
	<!--<p>6871 Ridge Water Ct., Centreville, VA 20121 <br/> <a href="tel://703-927-7462">703-927-7462</a> <br/> <a href="mailto:dieg.ruiz098@gmail.com">dieg.ruiz098@gmail.com</a>
	</p>-->
	<form class="dr10_contact_form" method="get" action="email-process.php">
		<ul>
			<li>
				<label class="dr10_label" for="name">Name:</label>
				<input required class="dr10_input" type="text" value="" placeholder="Your name" name="name">
			</li>
			<li>
				<label class="dr10_label" for="email">Email:</label>
				<input required class="dr10_input" type="text" value="" placeholder="Your email" name="email">
			</li>
			<li>
				<label class="dr10_label" for="subject">Subject:</label>
				<input required class="dr10_input" type="text" value="" placeholder="Subject" name="subject">
			</li>
			<li>
				<label class="dr10_label" for="email_body">Body:</label>
				<textarea rows="5" required class="dr10_input" name="email_body"></textarea>
			</li>
			<li class="align-right">
				<input type="submit" />
			</li>
		</ul>
		<div class="contact_return_area"></div>
	</form>
</section>