<section class="dr10_content_section">
	<h1>Welcome! Take a look at some of my projects.</h1>
	<ul class="dr10_portfolio_list">
		<li>
			<a href="/#/projects/wirefly-mobile/"><img src="assets/images/wf-mobile/mobile_01.jpg" alt=""></a>
		</li>
		<li>
			<a href="/#/projects/powerbrokers-breakfast"><img src="assets/images/misc/telecom-email.jpg" alt=""></a>
		</li>
		<li>
			<a href="/#/projects/humana-gmail-ad"><img src="assets/images/misc/humana_ad.jpg" alt=""></a>
		</li>
		<li>
			<a href="/#/projects/hpva-email-template/"><img src="assets/images/misc/hpva-email.jpg" alt=""></a>
		</li>
		<li>
			<a href="/#/projects/office-depot/"><img src="assets/images/officedepot-finder/depot_01.jpg" alt=""></a>
		</li>
		<li>
			<a href="/#/projects/rakuten"><img src="assets/images/rakuten-finder/rakuten_01.jpg" alt=""></a>
		</li>
		<li>
			<a href="/#/projects/officemax/"><img src="assets/images/officemax-finder/max_01.jpg" alt=""></a>
		</li>
		<li>
			<a href="/#/projects/wirefly-header/"><img src="assets/images/misc/wf2012-header.jpg" alt=""></a>
		</li>
		<li>
			<a href="/#/projects/simplexity/"><img src="assets/images/simplexity-corp/corp_01.jpg" alt=""></a>
		</li>
	</ul>
</section>