<section class="dr10_content_section">
	<h1>
		Professional Experience
	</h1>
	<h2>
		Technical Manager
	</h2>
	<h3>
		Simplexity, Herndon, VA (Oct 2012 - Present)
	</h3>
	<ul>
		<li>Extend, support, and maintain a custom content management system</li>
		<li>Manage a team of web developers to develop marketing web pages and content</li>
	</ul>
	<h2>
		Web Developer
	</h2>
	<h3>
		Simplexity, Herndon, VA (Sept 2010 - Oct 2012)
	</h3>
	<ul>
		<li>Developed 100+ marketing emails for multi-level branded partners</li>
		<li>Built the company website with a custom wordpress template</li>
		<li>Developed a skinning system that gave multiple partners a mobile experience</li>
	</ul>
	<h2>
		Web Developer Intern - Simplexity
	</h2>
	<h3>
		Simplexity, Herndon, VA (June 2010 - Aug 2010)
	</h3>
	<ul>
		<li>Assisted in the development of the company's first mobile website</li>
		<li>Extended a custom content management system</li>
	</ul>
	<h2>
		Technical Writer Intern
	</h2>
	<h3>
		Airline Reporting Corporation, Herndon, VA (July 2009 - Oct 2009)
	</h3>
	<ul>
		<li>Reviewed and updated company documents</li>
		<li>Created flash demos of company applications</li>
	</ul>
</section>