<section class="dr10_content_section">
	<h1>Office Depot - Filter Page (2012)</h1>
	<p>Built while employed at Simplexity. Collaborated with designers, developers, management to achieve business objectives.</p>
	<p>A cell phones section for Office Depot (minus the ecommerce purchase process) - built on a LAMP stack</p>
	<p>View site <a target="_blank" href="http://wireless.officedepot.com/content/finder/">here</a> or go <a href="/#/">back</a></p>
	<div class="dr10_screenshot_area">
		<p><img class="dr10_img_center" src="assets/images/officedepot-finder/depot_01.jpg" alt=""></p>
		<p>Phone Filter Page</p>
		<p><img class="dr10_img_center" src="assets/images/officedepot-finder/depot_02.jpg" alt=""></p>
		<p>Grid Style Offers</p>
		<p><img class="dr10_img_center" src="assets/images/officedepot-finder/depot_03.jpg" alt=""></p>
		<p>List Style Offers</p>
	</div>
</section>