<section class="dr10_content_section">
	<h1>HPVA Email Template (2013)</h1>
	<p>A mailchimp template - designed by <a href="http://www.linkedin.com/pub/rob-wooten/3/798/131" target="_blank">Rob Wooten</a></p>
	<p>View email <a target="_blank" href="http://diegruiz.homedns.org/hpva/email.html">here</a> or go <a href="/#/">back</a></p>
	<div class="dr10_screenshot_area">
		<p><img class="dr10_img_center" src="assets/images/misc/hpva-email.jpg" alt=""></p>
		<p>MailChimp Template</p>
	</div>
</section>