<section class="dr10_content_section">
	<h1>Love Charley (2014)</h1>
	<p>Side project, built using a paid e-commerce template. My work involved setting up the wordpress backend and dependent plugins (woocommerce) with some minor template tweaks</p>
	<p>View site <a href="http://lovecharley.com/" target="_blank">here</a> or go <a href="/#/">back</a></p>
	<div class="dr10_screenshot_area">
		<p><img class="dr10_img_center" src="assets/images/lovecharley/lovecharley01.jpg" alt=""></p>
		<p>Homepage</p>
	</div>
</section>