<section class="dr10_content_section">
	<h1>Officemax - Filter + Search (2012)</h1>
	<p>Built while employed at Simplexity. Collaborated with designers, developers, management to achieve business objectives.</p>
	<p>A cell phones section for Officemax (minus the ecommerce purchase process) - built on a LAMP stack</p>
	<p>View site <a target="_blank" href="http://www.officemaxwireless.com/content/verizon-wireless/">here</a> or go <a href="/#/">back</a></p>
	<div class="dr10_screenshot_area">
		<p><img class="dr10_img_center" src="assets/images/officemax-finder/max_01.jpg" alt=""></p>
		<p>Phone Filter Page</p>
		<p><img class="dr10_img_center" src="assets/images/officemax-finder/max_02.jpg" alt=""></p>
		<p>Search Page</p>
	</div>
</section>