<section class="dr10_content_section">
	<h1>Simplexity Corporate (2011)</h1>
	<p>Built while employed at Simplexity. Collaborated with designers, developers, management to achieve business objectives.</p>
	<p>A custom wordpress theme for Simplexity</p>
	<p>View site <span class="strikethrough">here</span> or go <a href="/#/">back</a></p>
	<div class="dr10_screenshot_area">
		<p><img class="dr10_img_center" src="assets/images/simplexity-corp/corp_01.jpg" alt=""></p>
		<p>Homepage</p>
		<p><img class="dr10_img_center" src="assets/images/simplexity-corp/corp_02.jpg" alt=""></p>
		<p>Blog post area</p>
		<p><img class="dr10_img_center" src="assets/images/simplexity-corp/corp_03.jpg" alt=""></p>
		<p>Sample page</p>
	</div>
</section>